@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@500&display=swap');

body {
    margin: 0;
}

/*-----------------------------------------------------------------*/
/*------------------------      메뉴칸     -------------------------*/
/*-----------------------------------------------------------------*/

.headA {
    display: block;
    position: fixed;
    width: 400px;
    top: -180px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(235, 246, 255, 0.72);
    border-radius: 15px;
    justify-content: center;
    text-align: center;
    font-family: 'Cinzel', serif;
    transition-duration: 0.7s;
    cursor : pointer;
    z-index: 99;
}

.headA:hover {
    display: block;
    top: 230px;
    transition-duration: 0.7s;
}

.headA > span > a {
    display: block;
    font-weight: 1000;
    font-size: 1.8rem;
    color: #000000;
    border-radius: 15px;
    transition-duration: 0.3s;
}

.headA > span > a:hover{
    border-radius: 15px;
    box-shadow: 1px 1px 5px 1px black;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    letter-spacing: 1rem;
    text-align: center;
    transition-duration: 0.5s;
    animation: Line 0.8s infinite;
    cursor : pointer;
}

.headA a {
    display: block;
    padding: 15px;
    color: inherit;
    font-size: 14px;
    text-decoration: none;
}

.headA i{
    animation: flash 1s infinite;
}

/*-----------------------------------------------------------------*/
/*------------------------      메인       -------------------------*/
/*-----------------------------------------------------------------*/

.conA {
    display: flex;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(Resource/2-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    align-items: center;
}

.conA > .container {
    display: inline-block;
    width: 100%;
    height: 600px;
    box-shadow: 10px 10px 20px black;
    text-shadow: 3px 3px 20px rgba(59, 59, 59, 0.8);
    background-color: rgba(206, 206, 206, 0.84);
    text-align: center;
    justify-content: center;
    animation: Line 2s infinite;
}

.conA > .container > h1 {
    margin-bottom: -1px;
    color: #20273b;
    font-size: 10rem;
    font-family: 'Cinzel', serif;
}

.conA > .container > p{
    margin-bottom: -50px;
    color: #20273b;
    font-size: 2.5rem;
    font-weight: 1000;
    font-family: 'Hahmlet', serif;
}

/*-----------------------------------------------------------------*/
/*------------------------      소개       -------------------------*/
/*-----------------------------------------------------------------*/

.conB {
    background-color: #dbe3e7;
    border-top: 5px solid #99b5b9;
}

.conB > .ABOUT {
    padding-top: 2%;
    border-bottom: 2px solid black;
    font-size: 2rem;
    text-align: center;
    font-family: 'Cinzel', serif;
}

.conB > .container {
    display: flex;
    padding: 10%;
}

.conB > .container > .Img {
    display: inline-block;
    width: 50rem;
    height: 75rem;
    margin-right: 5%;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    background-image: url(Resource/2009726188_9fbe3d77_EBB095ECA09CED9884.jpg);
}

.conB > .container > .cover{
    display: inline-block;
    width: 500px;
    font-size: 25px;
    font-family: 'Hahmlet', serif;
}

/*-----------------------------------------------------------------*/
/*------------------------      기술       -------------------------*/
/*-----------------------------------------------------------------*/

.conC {
    background-color: #bcc6cb;
}

.conC > .SKILL {
    padding-top: 2%;
    border-bottom: 2px solid black;
    text-align: center;
    font-size: 2rem;
    font-family: 'Cinzel', serif;
}

.conC > .container{
    display: flex;
    padding: 15%;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.conC > .container > .text {
    text-align: center;
}

.conC > .container > .text > div{
    width: 15rem;
    height: 15rem;
    border: 0.3rem solid #dbe3e7;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 0.3s;
    opacity: 0.5;
}

.conC > .container > .text > div:hover{
    transition-duration: 0.5s;
    animation: Line 2s infinite;
    opacity: 1;
}

.conC > .container > div > h1{
    width: 15.5rem;
    height: 2rem;
    border-radius: 5px;
    background-color: #4b5e6e;
    color: #bbc4ca;
    font-size: 1.7rem;
    font-family: 'Cinzel', serif;
}

.conC > .container > .text > div > p {
    font-family: 'Hahmlet', serif;
}

.conC > .container > div > .HTMLImg{
    background-image: url(Resource/HTML.png);
}

.conC > .container > div > .JavaImg{
    background-image: url(Resource/Java.png);
}

.conC > .container > div > .PythonImg{
    background-image: url(Resource/Python.png);
}

.conC > .container > div > .SQLImg{
    background-image: url(Resource/MySQL.png);
}

.conC > .container > div > .CSSImg{
    background-image: url(Resource/CSS.png);
}

.conC > .container > div > .JavaScriptImg{
    background-image: url(Resource/JavaScript.png);
}

.conC > .container > div > .JSPImg{
    background-image: url(Resource/JSP.png);
}

.conC > .container > div > .vuejsImg{
    background-image: url(Resource/vuejs.png);
}

.conC > .container > div > .SpringBootImg{
    background-image: url(Resource/SpringBoot.png);
}


/*-----------------------------------------------------------------*/
/*------------------------      작업       -------------------------*/
/*-----------------------------------------------------------------*/

.conD {
    background-color: #d9e1e6;
}

.conD > .PROJECTS {
    padding-top: 2%;
    border-bottom: 2px solid black;
    text-align: center;
    font-size: 2rem;
    font-family: 'Cinzel', serif;
}

.conD > .container{
    display: flex;
    padding: 10%;
    justify-content: center;
    gap: 10rem;
}

.conD > .container > .Project {
    display: grid;
    width: 35rem;
    grid-template-columns: repeat(1, 1fr);
    font-family: 'Hahmlet', serif;
    overflow: hidden;
}

.conD > .container > div > .Img {
    display: inline-block;
    position: relative;
    width: 40rem;
    height: 40rem;
    border-radius: 5px;
    box-shadow: 3px 3px 20px black;
    background-position: center;
    background-size: cover;
}

.conD > .container > .Project > div {
    padding-top: 10px;
    height: 35px;
    text-align: center;
    border-radius: 5px;
    color: #ffffff;
    background-color: rgba(32, 39, 60, 0.59);
    transition-duration: 0.5s;
}

.conD > .container > .Project > div:hover {
    background-color: #20273b;
    transition-duration: 0.5s;
    cursor: pointer;
}

.conD > .container > .Project > h1 {
    display: block;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 1.4rem;
}

.conD > .container > .Project > h2 {
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 0;
}

.conD > .container > .Project > p{
    display: block;
    margin-top: 0;
}

.conD > .container > .Project > .Link > a {
    letter-spacing: 0.5rem;
    font-weight: 1000;
    font-size: 1rem;
    color: #d7dfe5;
    font-family: 'Cinzel', serif;
    text-decoration: none;
}

/*-----------------------------------------------------------------*/
/*------------------------      학업      -------------------------*/
/*-----------------------------------------------------------------*/

.conE {
    background-color: #bcc6cb;
}

.conE > .EDUCATION {
    padding-top: 2%;
    border-bottom: 2px solid black;
    font-size: 2rem;
    text-align: center;
    font-family: 'Cinzel', serif;
}

.conE > .container{
    display: flex;
    padding: 2%;
    justify-content: center;
    gap: 10rem;
}

.conE > .container > .history {
    width: 50rem;
    padding: 10px;
    border-radius: 10px;
    color: #c5c5c5;
    background-color: #20273b;
    box-shadow: 3px 3px 20px black;
    text-align: center;
    font-family: 'Hahmlet', serif;
}

.conE > .container > .history:hover {
    color: #FFF;
    background-color: #354161;
}

.conE > .container > .history > h1 {
    display: block;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 1.4rem;
}

.conE > .container > .history > p {
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 0;
}

/*-----------------------------------------------------------------*/
/*------------------------      연락       -------------------------*/
/*-----------------------------------------------------------------*/

.footA {
    background-color: #20273b;
}

.footA > .CONTACT {
    padding-top: 2%;
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
    font-family: 'Cinzel', serif;
}

.footA > .tel {
    display: flex;
    padding: 7%;
    justify-content: center;
}

.footA > .tel > ul {
    list-style: none;
}

.footA > .tel > ul > li {
    color: #ffffff;
    font-weight: 1000;
    font-size: 1.7rem;
    font-family: 'Cinzel', serif;
}

.footD {
    padding-bottom: 3%;
    color: #ffffff;
    background-color: #20273c;
    font-size: 0.8rem;
    text-align: center;
}

/*-----------------------------------------------------------------*/
/*------------------------      반응형    ----------------------*/
/*-----------------------------------------------------------------*/

@media (max-width: 1024px){
    .headA {
        top: -210px;
    }

    .headA:hover {
        top: 250px;
    }
    .conA > .container {
        height: 500px;
    }

    .conA > .container > h1 {
        padding-top: 10%;
        font-size: 6.5rem;
    }
    
    .conA > .container > p{
        margin-bottom: 0px;
        font-size: 2rem;
    }

    .conB > .container {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
    }

    .conB > .container > .Img {
        width: 35rem;
        height: 35rem;
    }

    .conB > .container > .cover{
        font-size: 1.5rem ;
    }


    .conC > .container > .text > div{
        width: 7.5rem;
        height: 7.5rem;
    }

    .conC > .container > .text > h1{
        width: 8rem;
        height: 2.3rem;
        font-size: 1.3rem;
    }

    .conC > .container{
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(4, 1fr);
    }

    .conD > .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
    }

    .conD > .container > div > .Img {
        width: 28rem;
        height: 20rem;
    }

    .conD > .container > .Project > div:hover {
        background-color: #20273b;
        transition-duration: 0.5s;
        cursor: pointer;
    }

    .conD > .container > .Project > h1 {
        font-size: 2rem;
    }

    .conD > .container > .Project > h2 {
        font-size: 1.5rem;
    }

    .conD > .container > .Project > p{
        font-size: 1rem;
    }

    .conD > .container > .Project > .Link > a {
        font-size: 1.5rem;
    }

    .footA > .tel > ul > li {
        font-size: 1.5rem;
    }
}

@media (max-width: 767px){
    .headA {
        top: -200px;
    }

    .headA:hover {
        top: 250px;
    }
    .conA > .container {
        height: 500px;
    }

    .conA > .container > h1 {
        padding-top: 25%;
        font-size: 3rem;
    }

    .conA > .container > p{
        margin-bottom: 0px;
        font-size: 1.5rem;
    }

    .conB > .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .conB > .container > .Img {
        width: 30rem;
        height: 30rem;
    }

    .conB > .container > .cover{
        font-size: 1rem ;
    }

    .conC > .container > .text > h1{
        width: 7.5rem;
        height: 2rem;
        font-size: 1.2rem;
    }

    .conC > .container > .text > div{
        width: 7rem;
        height: 7rem;
    }

    .conC > .container{
        display: grid;
        gap: 0.5rem;
        grid-template-columns: repeat(3, 1fr);
    }

    .conD > .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .conD > .container > div > .Img {
        width: 25rem;
        height: 18rem;
    }

    .conD > .container > .Project > div:hover {
        background-color: #20273b;
        transition-duration: 0.5s;
        cursor: pointer;
    }

    .conD > .container > .Project > h1 {
        font-size: 1.5rem;
    }

    .conD > .container > .Project > h2 {
        font-size: 1rem;
    }

    .conD > .container > .Project > p{
        font-size: 0.8rem;
    }

    .conD > .container > .Project > .Link > a {
        font-size: 1rem;
    }

    .footA > .tel > ul > li {
        font-size: 1.3rem;
    }
}

/*-----------------------------------------------------------------*/
/*------------------------      애니메이션     ----------------------*/
/*-----------------------------------------------------------------*/
@keyframes Line {
    from{
        border: 0.3rem solid rgb(153, 181, 185);
    }
    70%{
        border: 0.3rem solid rgb(76, 95, 110);
    }
    30%{
        border: 0.3rem solid rgb(153, 181, 185);
    }
    to{
        border: 0.3rem solid rgb(188, 198, 203);
    }
}

@keyframes flash {
    from{
        color: black;
    }
    50%{
        color: #ffffff;
    }
    to{
        color: #000000;
    }
}
